body {
  font-family: "Roboto", sans-serif; /* Визначення шрифту */
  color: #434455; /* Визначення кольору тексту */
  background-color: #ffffff; /* Визначення фону сторінки */
  width: 1440px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
h1,
h2,
h3 {
  margin-left: 0;
  margin-right: 0;
}
/* Header styling */
.wrapper {
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;

  background-color: #ffffff;
}
.div-header {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Logo styles */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-text {
  color: #2e2f42;
}

/* Navigation menu */
.menu-nav {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu-nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-nav-item:hover {
  color: #404bbf;
}
.menu-nav-item:focus {
  color: #404bbf;
}

/* Contact info */
.contact-info {
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 180px;
}

.contact-item-ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact-item:hover {
  color: #404bbf;
}
.contact-item:focus {
  color: #404bbf;
}

/* Hero Section */
.hero-section {
  background-color: #2e2f42; /* NAVY BLUE */
  padding-top: 188px;
  padding-bottom: 188px;

  justify-content: center;
}

/* #render  */
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07; /* Простір між рядками */
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-left: 316px;
  margin-right: 316px;

  max-width: 496px;
}

/* Hero Button */
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 480px;
  margin-right: 480px;
}

/* Hover and Focus States */
.hero-button:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.hero-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* Strategy */
.section-our-advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute; /* Видаляє з потоку документу */
  width: 1px; /* Мінімізує ширину */
  height: 1px; /* Мінімізує висоту */
  padding: 0; /* Прибирає внутрішні відступи */
  margin: -1px; /* Забезпечує, що не займає місця */
  overflow: hidden; /* Приховує вміст */
  clip: rect(0, 0, 0, 0); /* Обрізає вміст */
  white-space: nowrap; /* Забезпечує, що текст не переноситься */
  border: 0; /* Прибирає можливі рамки */
}

.section-strategy-ul {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.section-strategy-ul-li {
  width: calc((100% - 72px) / 4);
}

.strategy {
  /* Header 3 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  margin-bottom: 8px;
}

.strategy-text {
  /* Body */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;

  /* Inside auto layout */
  flex: none;
}
.section-our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-hero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;

  text-align: center;
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  list-style: none;

  justify-content: center;

  flex-wrap: wrap;
  margin: 0;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  background: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-img {
  width: 264px;
  height: 260px;
}
.our-team-div {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2; /* Простір між рядками */
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize; /* Стиль написання */
  color: #2e2f42; /* NAVY BLUE */
  margin: 16px 0;
  margin-bottom: 8px;
}

.team-role {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455; /* SLATE */
}

/* SECTION $ */
.section-our-portfolio {
  padding: 120px 0 120px 0;
}

.our-portfolio-hero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;

  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 16px 0;
  margin-bottom: 8px;
}

.portfolio-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* FOOTER */
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* Простір між рядками */

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5; /* IRIS */
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* Простір між рядками */
  color: #f4f4fd; /* CLOUD */
}

.footer-description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd; /* CLOUD */
  max-width: 264px;
}
